{% load static lib_inscription %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.css" %}">
    <script src="{% static "bootstrap3/js/bootstrap.js" %}"></script>
    <style type="text/css">

        #logo_ied {
            zoom: 70%;
        }



        .code_bare {
            font-family: CCode39;
            font-size: 35px;
        }


        h3 {
            padding-bottom: 0;
            padding-top: 0;
        }


    </style>

</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6"><img id="logo_ied" src="{% static "images/logo-ied.jpg" %}"/></div>
        <div class="col-xs-6">
            <center><span class="code_bare">{{ voeu.code_dossier }}</span><br/>{{ voeu.code_dossier }}</center>
        </div>
    </div>


    <div>
        <center>
            <h4>ANNÉE UNIVERSITAIRE {% annee_en_cour %}</h4>
            <h4>DEMANDE D’EQUIVALENCE POUR UNE ADMISSION EN</h4>
            <h4>{{ voeu.etape.label_formation }} par enseignement à distance</h4>
            <h4>(Validation des études)</h4>
        </center>
    </div>
    <br/>

    <div>
        <div class="row">
            <div class="col-xs-4"><b>Nom : </b></div>
            <div class="col-xs-8">{{ individu.last_name|capfirst }}</div>
        </div>
        {% if  individu.common_name %}
            <div class="row">
                <div class="col-xs-4"><b>Nom d'épouse:</b></div>
                <div class="col-xs-8">{{ individu.common_name|capfirst }}</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-4"><b>Prénom : </b></div>
            <div class="col-xs-8">{{ individu.first_name1|capfirst }}</div>
        </div>
        <div class="row">
            <div class="col-xs-4"><b>Date de naissance : </b></div>
            <div class="col-xs-8">{{ individu.birthday|date:"d F Y" }}</div>
        </div>
        <div class="row">
            <div class="col-xs-4"><b>Nationalité : </b></div>
            <div class="col-xs-8">{{ individu.code_pays_nationality.lib_nat|capfirst }}</div>
        </div>

        {% for address in individu.adresses.all %}

            {% if address.type == '1' %}
                <div class="row">
                    <div class="col-xs-4"><b>Adresse:</b></div>
                    <div class="col-xs-8">
                        {% if address.label_adr_1 %}
                            {{ address.label_adr_1 }}
                        {% endif %}
                        {% if  address.label_adr_2 %}
                            {{ address.label_adr_2 }}
                        {% endif %}
                        {% if  address.label_adr_3 %}
                            {{ address.label_adr_3 }}
                        {% endif %}
                        {% if  address.label_adr_etr %}
                            {{ address.label_adr_etr }}
                        {% endif %}
                        {% if  address.com_bdi %}
                            {{ address.com_bdi.cod_bdi }}
                            {{ address.com_bdi.lib_ach }}
                        {% endif %}


                        {% if  address.code_pays %}
                            {{ address.code_pays }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><b>Téléphone:</b></div>
                    <div class="col-xs-8">{{ address.listed_number }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-xs-4"><b>E-mail : </b></div>
            <div class="col-xs-8">{{ voeu.individu.personal_email }}</div>
        </div>
        <br>

        <div class="well">
            CE DOSSIER EST à envoyer avant le :
            {{ voeu.etape.date_fermeture_equivalence|date:"d/m/Y" }} </br>
            (Cachet de la poste faisant foi)</br>
        </div>

        <h4>
            L’équivalence n’est accordée qu’une seule fois, lors de l’accès au cursus de licence, pour l’année
            {% annee_en_cour %} à l’IED. Si la décision d’équivalence vous accorde la validation d’éléments constitutifs
            (EC),
            ces derniers sont acquis pour toute la durée des études en {{ voeu.step.grade }} à l’IED
        </h4>

    </div>


</div>
</body>
</html>
