<html>
<style type="text/css">

    body {
        text-align: justify;
        font-size: 25px;
    }
    .header {
        margin-top: 10cm;
    }

    .barcode {
        font-family: CCode39;
        font-size: 45px;
    }
    .middle {
        border: 2px solid #000000;
        margin-top: 50%;
    }
    .etiquette {
        margin: 2cm;

    }


</style>
<body>

<div class="header" id="headerContent">
    Découper l'étiquette ci-dessous et la coller soigneusement sur
    une enveloppe format A4 dans laquelle vous mettrez le dossier rempli
    avec les pièces à fournir avant de le poster.
</div>
<div id="middleContent" class="middle">
    <div class="etiquette">
    <center>
    <div class="barcode">*{{ voeu.code_dossier }}*</div>
    <div>{{ voeu.code_dossier }}</div>
        <br/>
        {% include "duck_inscription/include/adresse_ied.html" with ETAPE=voeu.state.name|capfirst %}
    </center>
        </div>
</div>

</body>
</html>