{% extends "duck_inscription/wish/base_wish.html" %}
{% load lib_inscription floppyforms%}
{% block titre_form %}<legend>Diplôme d'accès à la formation : {{ wish.step.label }}</legend>{% endblock %}
{% block contenu %}
    <p>Si vous possédez l'un de diplômes dans la liste proposée ci-dessous veillez à bien
                 le selectionner avant de poursuivre.</p>
{% form form %}
    <div class="alert alert-info">Si vous n'êtes pas détenteur de l'un
                de ces diplômes veuillez poursuivre votre inscription.</div>
   <div class="form-actions">
        <input id="submit-id-verifier" class="btn btn-primary btn btn-success" type="submit" value="Suite" name="Verifier">
   </div>

{% endblock %}
{% block form_script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#form").validate();
    });
</script>

 {% endblock %}
