{% extends "duck_inscription/wish/base_wish.html" %}
{% load lib_inscription floppyforms%}
{% block titre_form %}<legend>Choix de la formation</legend>{% endblock %}
{% block contenu %}

{% form form %}
   <div class="form-actions">


                <input id="submit-id-verifier" class="btn btn-primary btn btn-success" type="submit" value="Suite" name="Verifier">
        </div>

{% endblock %}
{% block form_script %}
<script type="text/javascript">
    $(document).ready(function(){
        function show_hide(){
            $("#div_id_etape").toggle($('#id_diplome').val()!="");
            if($('#id_diplome').val()==""){
                $("#id_etape").html('');
            }
        }
        function get_step(value){//ajax pour récuper les steps
            $.get("{% url 'liste_etape' %}", {'diplome':value},function(data){
                if (data == 'echec'){
					$("#div_id_step").hide();
					$("#id_etape").html('');
				}
				else {
					$("#div_id_etape").show();
					$("#id_etape").replaceWith(data);
				}
            });
        }
        show_hide();
        get_step($("#id_diplome").val());
        $("#id_diplome").change(function(element){
            show_hide();
            get_step($(this).val());
        });
        $("#form").validate();
    });
</script>

 {% endblock %}
