{% extends "base.html" %}
{% block content %}
{{ form.media }}
    <h3>
    Veuillez remplir soigneusement les formulaires suivants :
    </h3>


    <form id="code_form" class="form-horizontal well" method="post">
    {% csrf_token %}
        {% if premiere_connection %}
            <div id="id_demande_code" class="well">
                <p>Il est nécessaire pour le bon déroulement de votre scolarité de nous fournir votre numéro d'étudiant si vous avez déjà été inscrit(e) à l'université Paris 8 entre 2000 et aujourd'hui.</p>
                <h4>Avez-vous été inscrit(e) à l'université Paris 8 (y compris l'IED) depuis l'année universitaire 2000-2001 incluse ?</h4>

                <hr />
                <div  class="form-actions">
                    <a id="id_oui" href="#" class="btn btn-primary" data-content="help">Oui</a>
                    <a id="id_non" class="btn btn-primary" href="{% url 'not_inscrit_universite' %}">Non</a>

                </div>
            </div>
        {% endif %}
        <div id="id_verification">
            {{ form }}

            <div class="form-actions">
                {% if premiere_connection %}<a id="id_reset" class="btn btn-primary" href="#">Revenir</a>{% endif %}
                <input id="submit-id-verifier" class="btn btn-primary btn btn-primary" type="submit" value="Suite" name="Verifier">
            </div>
            <p class="alert alert-success">
                Vous ne connaissez plus votre numéro d'étudiant et/ou votre code code confidentiel, veuillez télécharger, remplir et
                nous renvoyer le  <a href="{{ STATIC_URL }}pdf/Ident.pdf">document suivant.</a>
            </p>
        </div>
    </form>
<script>
$(document).ready(function(){

    {% if premiere_connection %}$("#id_verification").hide();{% endif %}
    $("#id_oui").click(function(){
       $("#id_verification").show();
        $('#id_demande_code').hide();
    });
    $("#id_reset").click(function (){
        $("#id_verification").hide();
        $('#id_demande_code').show();
    });

    $("#code_form").validate({
        rules:{
            date_naissance:{
                required: true,
                number: true,
                remote: {
                    url: "{% url 'test_individu' %}",

                    type: "get",
                    data: {
                        cod_etu : function(){
                            return $('#id_code_etu').val();
                        }
                    }

                }

            },
            code_etu:{
                required: true,
                number: true
            }
        },
        messages:{
            date_naissance:{
                remote: "Il n'y a pas d'individu avec cette date de naissance"
            }

        }

    });
    $('#id_password').popover({
    });
});
</script>

{% endblock %}
