{% extends "xadmin/base_site.html" %}
{% block nav_title %}Statistique PAL{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th></th>
            <th colspan="4">Dossier d'équivalence</th>
            <th colspan="4">Dossier de candidature</th>
        </tr>
        <tr>
            <th>Etape</th>
            <th>Effectué</th>
            <th>Réceptionné</th>
            <th>Refusé</th>
            <th>Traité (accepté)</th>
            <th>Effectué</th>
            <th>Réceptionné</th>
            <th>Refusé</th>
            <th>Accepté</th>
{#            <th>Nb inscription</th>#}
        </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
        {% with stat=etape.stat_parcours_dossier stat_suivi=etape.stat_suivi_dossier %}
        <tr>
            <td>{{ etape.label }} / {{ etape.cod_etp }}</td>
            <td><a href=" {% url 'xadmin:extraction_stat' 'parcours_dossier' 'equivalence' etape.cod_etp%}">{{ stat.equivalence }}</a></td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'equivalence_reception' etape.cod_etp%}">{{ stat_suivi.equivalence_reception }}</a></td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'equivalence_refuse' etape.cod_etp%}">{{ stat_suivi.equivalence_refuse }}</a></td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'equivalence_traite' etape.cod_etp%}">{{ stat_suivi.equivalence_traite }}</a></td>
            <td>{% if etape.date_ouverture_candidature %}
            <a href="{% url 'xadmin:extraction_stat' 'parcours_dossier' 'candidature' etape.cod_etp%}">{{ stat.candidature }}</a>
            {% endif %} </td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'candidature_reception' etape.cod_etp%}">{{ stat_suivi.candidature_reception }}</a></td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'candidature_refuse' etape.cod_etp%}">{{ stat_suivi.candidature_refuse }}</a></td>
            <td><a href="{% url 'xadmin:extraction_stat' 'etat' 'candidature_traite' etape.cod_etp%}">{{ stat_suivi.candidature_traite }}</a></td>
{#            <td>{{ stat.inscription }}</td>#}
{#            <td>{{ stat_suivi }}</td>#}
        </tr>
        {% endwith %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
