{% extends "xadmin/base_site.html" %}
{% load lib_inscription %}
{% block nav_title %}Statistique Apogee{% endblock %}
{% block content %}
    {% for x in years %}
        <a href="{% url 'xadmin:stats_apogee' %}?year={{ x }}" class="btn {% if x == selected %} btn-primary
                {% else %} btn-default {% endif %}"> {{ x }}</a>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th></th>
            <th colspan="7">Apogee</th>
        </tr>
        <tr>
            <th></th>
            <th>Incrit</th>
        </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
        <tr>
            <td>{{ etape.label }}</td>
            <td><a href=" {% url 'xadmin:extraction_apogee' selected etape.cod_etp %}"> {{ etape.nb_inscrit }}</a></td>
        <tr>
        {% endfor %}
        <tr>
            <td>Totaux</td>
            <td>{{ total }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
