{% extends "duck_inscription/wish/base_wish.html" %}
{% block contenu %}
<div class="well">
<legend style="text-align: center">Dossier d'inscription en  Auditeur libre  en {{ wish.etape.label_formation }}</legend>
    <div class="form-horizontal">
{% if wish.valide %}
    <p>Votre vœu a bien été validé, vous devez <strong>imprimer</strong> votre dossier
    et suivre les consignes qui y sont indiquées pour l'envoyer <strong>complet</strong>.</p>
    <p>Aucun dossier imcomplet ne sera pris en compte.</p>
    <div class="alert alert-info">Vous serez mis au courant par courrier électronique des étapes du traitement de votre dossier.</div>
    <div class="form-actions">
    <a href="{% url 'do_pdf_auditeur' wish.pk %}" class="btn btn-primary">Imprimer votre dossier d'inscription</a>
    </div>

{% else %}

<div class="alert alert-success"><strong>Validez</strong> votre vœu afin de pouvoir imprimer votre dossier d'auditeur libre pour son envoi définitif.</div>
    <div class="alert alert-danger">La validation du voeu, l'impression du dossier et son envoi doivent être faits
        avant le <b>15 décembre 2014.</b></div>
    <div class="form-actions">
        <p><a href="{% url 'auditeur' wish.pk%}?valide=ok" class="btn btn-success">Valider votre vœu</a></p>

        <p><a href="{% url 'delete_wish' pk=wish.pk %}" class="btn btn-danger">Supprimer le vœu</a></p>
    </div>
    {% endif %}
    </div>


</div>

{% endblock %}
