{% extends "base.html" %}

{% block content %}
<h1>Espace étudiant</h1>
     <div class="alert alert-danger" role="alert">
        <strong><p class="bg-danger">
            L'Institut d'Enseignement à Distance est fermé jusqu'au 2 septembre 2014. Vous pouvez procédez à votre inscription, dans la mesure des places disponibles, mais nous ne pourrons réceptionner votre dossier d'inscription avant la rentrée. Il devra parvenir à l'IED entre le 1er septembre au plus tôt et le 14 septembre au plus tard. Si vous êtes en liste d'attente, vous serez informé par mail, à partir du 14 septembre, si une place s'est libérée et vous aurez alors une semaine pour nous faire parvenir votre dossier.
        </p></strong>
    </div>
<div class="well">
    <div class="alert alert-info">
        <p>Vous êtes dans votre espace étudiant en ligne et pouvez effectuer <strong>un (1)</strong> vœu par diplôme.</p>
        <p>Tout vœu doit être <strong>validé</strong> afin d'être pris en compte.</p>
    </div>


        {% if wishes %}
            <div class="well">
            <legend>Vos vœux en cours</legend>

        {% for wish in wishes %}
        <p>
            <span>
            <a href="{{ wish.get_absolute_url }}">{{ wish.name_url }}</a>
                </span>
            {% if not wish.valide %}
                <span class="pull-right">
            <a class="btn btn-danger" href="{% url 'delete_wish' wish.pk %}">Supprimer ce vœu</a>
                </span>
            {% endif %}
        </p>
        <hr>
    {% endfor %}</div>
</div>
        {% endif %}
    {% if not wishes|length_is:"13" %}
<div class="well">
<a class="btn btn-primary" href="{% url 'new_wish' %}">Ajouter un vœu</a>
</div>
    {% endif %}
{#    {% if not auditeur %}#}
{#<div class="well">#}
{#<a class="btn btn-primary" href="{% url 'new_auditeur' %}">Auditeur libre</a>#}
{#</div>#}
{#    {% endif %}#}

{% endblock %}
